@page "/page/edit/{id}"
@model EditModel
@{
    Layout = "_Layout";
}

<div class="m-2">
    <partial name="_ProductEditor" model="@Model.ViewModel"/>
</div>

@functions {
    public class EditModel : EditorPageModel
    {
        public EditModel(DataContext dataContext) : base(dataContext) { }

        public async Task OnGetAsync(long id)
        {
            Product p = TempData.ContainsKey("product") ? JsonSerializer.Deserialize<Product>(TempData["product"] as string) : await DataContext.Products.FindAsync(id);

            ViewModel = ViewModelFactory.Edit(p, Categories, Suppliers);
        }

        public async Task<IActionResult> OnPostAsync([FromForm] Product product)
        {
            await CheckNewCategory(product);

            if (ModelState.IsValid)
            {
                product.ProductId = default;
                product.Category = default;
                product.Supplier = default;
                DataContext.Products.Update(product);
                await DataContext.SaveChangesAsync();
                return RedirectToPage(nameof(Index));
            }
            ViewModel = ViewModelFactory.Edit(product, Categories, Suppliers);

            return Page();
        }
    }
}