@page "/pages/form/{id:long?}"
@using Microsoft.EntityFrameworkCore
@model FormHandlerModel

<div class="m-2">
    <h5 class="bg-primary text-white text-center p-2">Html Form</h5>
    <form asp-page="FormHandler" method="post" id="htmlform">
        <div class="form-group">
            <label>Id</label>
            <input class="form-control" asp-for="Product.ProductId"/>
        </div>   
        <div class="form-group">
            <label>Название</label>
            <input class="form-control" asp-for="Product.Name"/>
        </div>  
        <div class="form-group">
            <label>Цена</label>
            <input class="form-control" asp-for="Product.Price" />
        </div>    
        <div class="form-group">
            <label>Категория</label>
            <input class="form-control" asp-for="Product.Category.Name" />
        </div>    
        <div class="form-group">
            <label>Поставщик</label>
            <input class="form-control" asp-for="Product.Supplier.Name" />
        </div>    
        
    </form>
    <button form="htmlform" asp-page="FormHandler" type="submit" class="btn btn-primary mt-2">Submit</button>
</div>

@functions{

    [IgnoreAntiforgeryToken]
    public class FormHandlerModel : PageModel{

        private DataContext _context;

        public FormHandlerModel(DataContext context){
            _context = context;
        }

        public Product Product { get; set; }

        public async Task OnGetAsync(long id = 1){
            Product = await _context.Products.Include(p => p.Category).Include(p => p.Supplier)
                .FirstAsync(p => p.ProductId == id);
        }

        public IActionResult OnPost(){
            foreach(string key in Request.Form.Keys.Where(k=>!k.StartsWith("_"))){
                TempData[key] = string.Join(", ", Request.Form[key]);
            }
            return RedirectToPage("FormResults");
        }
    }
}